# Dependencies
node_modules
.pnpm-store

# Production
dist
build

# System
.DS_Store
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# Brain
.gemini
